/* Root element */
:root {
    --darkred: #7B0202;
    --lightred: #AB2F1D;
    --darkorange: #D78041;
    --lightorange: #F2A766;
    --white: #fff;
    --green: #054900;
}
/* Style for the whole site */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    max-width: 1400px;
}

p {
    line-height: 1.5;
}
/* Index page */

/* Grid for the whole index page */

.index-container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer'
    ;
}

/* Header grid */

.index-container header {
    grid-area: header;
    display: grid;
    background-color: var(--darkred);
    grid-template-areas: 
    'logo nav'
    ;
}

/* Header navigation */

.index-container header > nav {
    grid-area: nav;
    justify-self: end;
    margin: 1rem 0;
}


.index-container header nav ul {
    display: flex;

}

.index-container header nav li {
    list-style: none;
}

.index-container header li a {
    text-decoration: none;
    color: var(--white);
    padding-right: 3rem;
    font-size: 1.4rem;
    transition: all .2s ease-in-out;
}

.index-container header li:hover a {
    color: var(--lightorange);
    cursor: pointer;
}

/* Grid for the whole main part of the index page */

.index-container main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'hero'
    'market'
    'event'
    ;
}

/* Index, main hero */

.index-container .hero {
    grid-area: hero;
    background-image: url("../images/hero.jpg");
}


.index-container .hero h1 {
    font-size: 5rem;
    color: white;
    margin: 5rem;
    font-weight: 200;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}




/* Index, main market */
.index-container .market {
    grid-area: market;
    background-color: var(--darkred);
    display: grid;
    grid-template-columns: 1fr .4fr 1fr;
}

.index-container .market > article {
    grid-column: 1 / span 2;
    margin: 5rem;
}

.index-container .market  aside {
    grid-column: 3;
    margin: 5rem;
}

.index-container .market h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 1px black;
}

.index-container .market h2,p {
    color: white;
}

.index-container .market table {
    color: white;
    line-height: 1.5;
}

/* Index, main market buttons */
 .index-container .market .button {
     margin-top: 2rem;
     margin-right: 2rem;
     padding: 1rem 2rem;
     border-radius: 10%;
     background-color: var(--darkred);
     box-shadow: 4px 5px 3px black;
 }

 .index-container .market .button a {
     text-decoration: none;
     color: var(--white);
     text-transform: uppercase;
     font-size: 1.2rem;
     transition: all .2s ease-in-out;
 }

 .index-container .market .button:hover {
     box-shadow: none;
     cursor: pointer;
     
 }

/* Index, main events */

.index-container .event {
    grid-area: event;
    display: grid;
    grid-template-areas: 
    'santa tree black'
    ;
}

.index-container .event .santa {
    grid-area: santa;
}

.index-container .event .tree {
    grid-area: tree;
}

.index-container .event .black {
    grid-area: black;
}

/* Grid for index footer */

footer {
    grid-area: footer;
}