/* Root element */
:root {
    --darkred: #7B0202;
    --lightred: #AB2F1D;
    --darkorange: #D78041;
    --lightorange: #F2A766;
    --white: #fff;
    --peach: #faebd75e;
}
/* Style for the whole site */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: var(--white);
    max-width: 1300px;
}

p {
    line-height: 1.5;
}

/* Grid for the index page */
.shops-container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}

/* Header section */
header {
    display: grid;
    grid-template-areas: 
    'logo nav'
    ;
    background-color: var(--darkred);
}

/* Navigation in the header */
header > nav {
    grid-area: nav;
    justify-self: end;
    margin: 1rem 0;
}
header > nav li a{
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    transition: all .2s ease-in-out;
    font-weight: 400;
}

header nav li {
    padding-right: 4rem;
    list-style: none;

}
header nav ul {
    display: flex;
}
header nav li:hover a {
    color: var(--lightorange);
    cursor: pointer;
}
/*Dropdown menu  */
.shops-container header nav > ul > li {
	position: relative;
    display: block;
}

header nav > ul > li:hover > .market-menu { 
    display: block;
}

 header .market-menu {
     display: none;
     min-width: 10rem;
     width: max-content;
     background-color: var(--lightred);
     color: white;
     text-decoration: none;
     position: absolute;
     left: 0;
     padding: 5px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
 }

 header nav > ul > li:hover a{
     color: white;
 } 

 header nav > ul > li:hover a:hover {
     color: var(--darkorange);
 }

/* Grid for the main section of the index page */

.index-main {
    display: grid;
    grid-template-areas: 
    'hero'
    'shops'
    ;
    grid-template-rows: 40% 40%;
}
header {
    grid-area: header;
    display: grid;
    background-color: var(--darkred);
    grid-template-areas: 
    'logo nav';
    position: sticky;
    top: 0;
    
}
/* Hero section for the index page */
.logo {
    max-width: 250px;
    padding-left: 2.5rem;
}

.index-main .hero {
    grid-area: hero;
    background-image: url("../images/hero.jpg");
    background-size: cover;
}

.index-main .hero h1 {
    margin: 3rem;
    font-size: 4vw;
    font-weight: 200;
    color: var(--white);
    text-shadow: 2px 2px 1px var(--black);
}
/* Grid for the whole main part of the funfair page */

main {
    grid-area: main;
    display: grid;
    grid-template-rows: 0.5fr auto;
    grid-template-areas: 
    'hero'
    'shops';
}
/* Funfair hero image */

.hero {
    grid-area: hero;
    background-image: url("../images/hero.jpg");
}

.hero h1 {
    font-size: 6vw;
    color: white;
    margin: 5rem;
    font-weight: 200;
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
}

/* Index, main shops */
.shops {
    grid-area: shops;
    display: grid;
    grid-template-rows:  auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 5rem; 
  }
  
 .shops article {
      margin: 2rem;
  }
.shops article h3 {
      font-size: 2rem;
      padding-left: 1rem;
      margin-bottom: 1rem;
  }


/* Nav elements for Shops */
header > nav > ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 10px;
}
section > article > ul li {
    position: relative;
    list-style: none;
}
ul.shop p{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
ul.shop > li:hover p{
    display:block;
    position: absolute;
    background-color: greenyellow;
    z-index: 1;
}
.imagemarket img {
    width: 100%;
    height: 100%;;
}
.imagemarket h2{
    size: 2em;
    text-align: center;
}
footer{
    background-color: blanchedalmond;
}