*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkred: #7B0202;
    --lightred: #AB2F1D;
    --darkorange: #D78041;
    --lightorange: #F2A766;
    --white: #fff;
    --green: #054900;
}
html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    max-width: 1500px;
    background-color: var(--white);
}
p {
    line-height: 1.5;
}
img {
    max-width: 100%;
}
header {
    max-width: 1400px;
    padding: 2rem;
    justify-self: end;
    margin: 1rem 0;
    position: sticky;
    top: 0;
    background-color: var(--darkred);
}
/* navigation */
header > nav {
    justify-self: end;
    margin: 0.5rem 0;
}
header nav ul {
    display: flex;
}
header nav li {
    list-style: none;
}
header li a {
    text-decoration: none;
    color: var(--white);
    padding-right: 3rem;
    font-size: 1.4rem;
    transition: all .2s ease-in-out;
}
header li:hover a {
    color: var(--lightorange);
    cursor: pointer;
}

/* Grid for the whole main part of the index page */
